//Colors For Classic Theme

//Text Colors
$copy: #000000;//black
$text: #FFFFFF; //white

//Element Colors
$attract: #EF3E36; //deep carmine pink
$background: #FFFFFF; //white
$foreground: #320E3B; //dark purple